body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../images/churn_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.65);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    padding: 30px;
    width: 420px;
    border-radius: 12px;
    text-align: center;
}

.card h1 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: #1e88e5;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1565c0;
}


.result-box {
    margin-top: 20px;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 8px;
    font-size: 18px;
    color: #333;
}
