<!DOCTYPE html>
<html>
<head>
    <title>Customer Churn Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="overlay">
    <div class="card">
        <h1>Customer Churn Prediction</h1>

        <form id="churnForm">
            <input name="age" placeholder="Age" required>
            <input name="tenure_months" placeholder="Tenure Months" required>
            <input name="monthly_logins" placeholder="Monthly Logins" required>
            <input name="avg_session_time" placeholder="Avg Session Time" required>
            <input name="usage_growth_rate" placeholder="Usage Growth Rate" required>
            <input name="last_login_days_ago" placeholder="Last Login Days Ago" required>
            <input name="total_revenue" placeholder="Total Revenue" required>
            <input name="payment_failures" placeholder="Payment Failures" required>
            <input name="avg_resolution_time" placeholder="Avg Resolution Time" required>
            <input name="csat_score" placeholder="CSAT Score" required>
            <input name="email_open_rate" placeholder="Email Open Rate" required>
            <input name="marketing_click_rate" placeholder="Marketing Click Rate" required>
            <input name="nps_score" placeholder="NPS Score" required>
            <input name="engagement_score" placeholder="Engagement Score" required>

            <button type="submit">Predict</button>
        </form>

        <div id="result" class="result-box"></div>
    </div>
</div>

<script>
document.getElementById("churnForm").addEventListener("submit", async function(e) {
    e.preventDefault();

    const formData = new FormData(this);

    const response = await fetch("/model/churn", {
        method: "POST",
        body: formData
    });

    const data = await response.json();

    document.getElementById("result").innerHTML = `
        <h3>Prediction: ${data.prediction}</h3>
        <p>Churn Probability: ${data.probability}%</p>
    `;
});
</script>

</body>
</html>
